* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: wheat;
}

main {
  width: 100%;
}

.view-1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}
.view-1 img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
}
.view-1 p {
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0.9rem 0;
  opacity: 0.6;
}
.view-1 p br {
  display: none;
}

.view-2 {
  width: 100%;
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
}
.view-2 .marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #353333;
}
.view-2 .marquee::after {
  content: "";
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
  position: absolute;
  top: 0;
  left: 0;
}
.view-2 .marquee::before {
  content: "";
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to left, #0e0e0e, transparent);
  position: absolute;
  top: 0;
  right: 0;
}
.view-2 .marquee .text {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  animation: marquee 5s linear infinite;
}
.view-2 .marquee .text p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.view-3 {
  padding: 1rem 2rem;
  width: 100%;
}
.view-3 .vw-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.view-3 .vw-container .container {
  background: #181716;
  padding: 1.3rem 2rem;
  border: rgb(61, 61, 56) solid 1px;
}
.view-3 .vw-container .container .box {
  display: flex;
  line-height: 1.7;
  flex-direction: column;
  padding-bottom: 1rem;
}
.view-3 .vw-container .container .box .first-div {
  padding-bottom: 6px;
}
.view-3 .vw-container .container .box .title {
  font-size: 1.3rem;
  font-weight: 320;
}
.view-3 .vw-container .container .box .description {
  font-size: 0.9rem;
  font-weight: 390;
}
.view-3 .vw-container .container #about {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
.view-3 .vw-container .container #about .circle {
  width: 35px;
  height: 35px;
  background: #22201e;
  border-radius: 50%;
}
.view-3 .vw-container .container #about .about {
  font-size: 0.8rem;
  font-weight: 500;
}

.view-4 {
  width: 100%;
}
.view-4 .Container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 26px;
}
.view-4 .Container .sub-container1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-4 .Container .sub-container1 .p1 {
  font-size: 2rem;
  font-weight: 350;
}
.view-4 .Container .sub-container1 .child-sub {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-4 .Container .sub-container1 .child-sub .p2 {
  font-size: 0.8rem;
  font-weight: 500;
}
.view-4 .Container .sub-container1 .child-sub .circle1 {
  height: 35px;
  width: 35px;
  background: #22201e;
  border-radius: 50%;
}
.view-4 .Container .sub-container2 {
  display: grid;
  grid-template-areas: "a" "b" "c" "d"; /* Corrected structure */
  gap: 20px;
}
.view-4 .Container .sub-container2 .sub {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-4 .Container .sub-container2 .sub .grid-a img,
.view-4 .Container .sub-container2 .sub .grid-b img,
.view-4 .Container .sub-container2 .sub .grid-c img,
.view-4 .Container .sub-container2 .sub .grid-d img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.view-4 .Container .sub-container2 .sub .flying {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0; /* Aligns perfectly at the bottom of the grid */
  width: 90%;
  height: 10%;
  background: rgba(255, 255, 255, 0.1); /* Slight transparency */
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  transform: translateY(-50%);
  border: rgb(45, 45, 43) solid 1px;
}
.view-4 .Container .sub-container2 .sub .flying .flying-p1 {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.view-4 .Container .sub-container2 .sub .flying .flying-p2 {
  padding-right: 1.2rem;
  font-size: 0.7rem;
  letter-spacing: 1;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */