* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: wheat;
}

main {
  width: 100%;
}

.view-1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}
.view-1 img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
}
.view-1 p {
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0.9rem 0;
  opacity: 0.6;
}
.view-1 p br {
  display: none;
}

.view-2 {
  width: 100%;
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
}
.view-2 .marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #353333;
}
.view-2 .marquee::after {
  content: "";
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
  position: absolute;
  top: 0;
  left: 0;
}
.view-2 .marquee::before {
  content: "";
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to left, #0e0e0e, transparent);
  position: absolute;
  top: 0;
  right: 0;
}
.view-2 .marquee .text {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  animation: marquee 5s linear infinite;
}
.view-2 .marquee .text p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.view-3 {
  padding: 1rem 2rem;
  width: 100%;
}
.view-3 .vw-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.view-3 .vw-container .container {
  background: #181716;
  padding: 1.3rem 2rem;
  border: rgb(61, 61, 56) solid 1px;
}
.view-3 .vw-container .container .box {
  display: flex;
  line-height: 1.7;
  flex-direction: column;
  padding-bottom: 1rem;
}
.view-3 .vw-container .container .box .first-div {
  padding-bottom: 6px;
}
.view-3 .vw-container .container .box .title {
  font-size: 1.3rem;
  font-weight: 320;
}
.view-3 .vw-container .container .box .description {
  font-size: 0.9rem;
  font-weight: 390;
}
.view-3 .vw-container .container #about {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
.view-3 .vw-container .container #about .circle {
  width: 35px;
  height: 35px;
  background: #22201e;
  border-radius: 50%;
}
.view-3 .vw-container .container #about .about {
  font-size: 0.8rem;
  font-weight: 500;
}

.view-4 {
  width: 100%;
}
.view-4 .Container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 26px;
}
.view-4 .Container .sub-container1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-4 .Container .sub-container1 .p1 {
  font-size: 2rem;
  font-weight: 350;
}
.view-4 .Container .sub-container1 .child-sub {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-4 .Container .sub-container1 .child-sub .p2 {
  font-size: 0.8rem;
  font-weight: 500;
}
.view-4 .Container .sub-container1 .child-sub .circle1 {
  height: 35px;
  width: 35px;
  background: #22201e;
  border-radius: 50%;
}
.view-4 .Container .sub-container2 {
  display: grid;
  grid-template-areas: "a" "b" "c" "d"; /* Corrected structure */
  gap: 20px;
}
.view-4 .Container .sub-container2 .sub {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-4 .Container .sub-container2 .sub .grid-a img,
.view-4 .Container .sub-container2 .sub .grid-b img,
.view-4 .Container .sub-container2 .sub .grid-c img,
.view-4 .Container .sub-container2 .sub .grid-d img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.view-4 .Container .sub-container2 .sub .flying {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0; /* Aligns perfectly at the bottom of the grid */
  width: 90%;
  height: 10%;
  background: rgba(255, 255, 255, 0.1); /* Slight transparency */
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  transform: translateY(-50%);
  border: rgb(45, 45, 43) solid 1px;
}
.view-4 .Container .sub-container2 .sub .flying .flying-p1 {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.view-4 .Container .sub-container2 .sub .flying .flying-p2 {
  padding-right: 1.2rem;
  font-size: 0.7rem;
  letter-spacing: 1;
  font-weight: 500;
}

.view-5 {
  width: 100%;
}
.view-5 .container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 26px;
}
.view-5 .container .sub-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.view-5 .container .sub-container1 .the {
  font-weight: 550;
  font-size: 0.9rem;
}
.view-5 .container .sub-container1 .your {
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
}
.view-5 .container .sub-container1 .our {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}
.view-5 .container .sub-container2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.view-5 .container .sub-container2 .container {
  background: #181716;
  padding: 1.3rem 2rem;
  border: rgb(61, 61, 56) solid 1px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.view-5 .container .sub-container2 .container .hours {
  background: #22201e;
  border: rgb(61, 61, 56) solid 1px;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  width: 4rem;
}
.view-5 .container .sub-container2 .container .hours .hour {
  font-weight: 400;
  font-size: 0.8rem;
}
.view-5 .container .sub-container2 .container .Do-content .do {
  font-weight: 500;
  color: #898077;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.view-5 .container .sub-container2 .container .Do-content .dis {
  font-weight: 350;
  font-size: 1.2rem;
}
.view-5 .container .sub-container2 .container .Before {
  font-weight: 350;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.view-5 .container .sub-container2 .container .list {
  font-weight: 350;
  line-height: 1.8rem;
  font-size: 0.9rem;
}

.view-6 {
  width: 100%;
}
.view-6 .container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
}
.view-6 .container .sub-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.view-6 .container .sub-container1 .what {
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
}
.view-6 .container .sub-container1 .see {
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
}
.view-6 .container .sub-container2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.view-6 .container .sub-container2 .container {
  background: #181716;
  padding: 1.3rem 2rem;
  border: rgb(61, 61, 56) solid 1px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.view-6 .container .sub-container2 .container .logo {
  background: #22201e;
  border: rgb(61, 61, 56) solid 1px;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  width: 4rem;
}
.view-6 .container .sub-container2 .container .logo .hour {
  font-weight: 400;
  font-size: 0.8rem;
}
.view-6 .container .sub-container2 .container .content .amazing {
  font-weight: 350;
  font-size: 1.2rem;
}
.view-6 .container .sub-container2 .container .arik {
  font-weight: 350;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.view-6 .container .sub-container2 .container .man {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 90%;
  gap: 1.5rem;
}
.view-6 .container .sub-container2 .container .man .img-man {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.view-6 .container .sub-container2 .container .man .name-box {
  font-weight: 350;
  font-size: 0.9rem;
}
.view-6 .container .sub-container2 .container .man .name-box .company {
  font-weight: 400;
  color: #898077;
}

.view-7 {
  width: 100%;
}
.view-7 .container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 26px;
}
.view-7 .container .arik {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}
.view-7 .container .img-div {
  display: flex;
  justify-content: center;
}
.view-7 .container .img-div img {
  width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
}

.view-8 {
  width: 100%;
}
.view-8 .container {
  padding: 0.5rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.view-8 .container .a {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}
.view-8 .container .hi {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}
.view-8 .container .logo {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3px;
}
.view-8 .container .logo .tw {
  width: 35px;
  height: 35px;
  background: #22201e;
  border-radius: 50%;
}

.view-9 {
  width: 100%;
}
.view-9 .container {
  padding: 0.5rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.view-9 .container .project {
  color: #898077;
  font-weight: 450;
  font-size: 1rem;
  text-align: center;
}
.view-9 .container .a {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
}
.view-9 .container .premium {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.view-9 .container .buttom {
  display: flex;
  justify-content: center;
  width: 100%;
}
.view-9 .container .buttom .box {
  padding: 0.7rem;
  background: #c9b08e;
}
.view-9 .container .buttom .box .get {
  font-weight: 300;
  font-size: 1rem;
  color: #0e0e0e;
}

.view-10 {
  width: 100%;
}
.view-10 .container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.view-10 .container .arik {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}
.view-10 .container .all-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.view-10 .container .all-logo .onebox {
  display: flex;
  gap: 10px;
  align-items: center;
}
.view-10 .container .all-logo .onebox .ins {
  width: 35px;
  height: 35px;
  background: #22201e;
  border-radius: 50%;
}

.view-11 {
  width: 100%;
}
.view-11 .container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.view-11 .container .pages {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}
.view-11 .container .all-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.view-11 .container .all-page .page {
  font-weight: 300;
  font-size: 0.9rem;
}
.view-11 .container .buttom {
  display: flex;
  justify-content: center;
  width: 100%;
}
.view-11 .container .buttom .box {
  padding: 0.7rem;
  background: #c9b08e;
}
.view-11 .container .buttom .box .get {
  font-weight: 300;
  font-size: 1rem;
  color: #0e0e0e;
}

.view-12 {
  width: 100%;
}
.view-12 .container {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.view-12 .container .made {
  font-weight: 350;
  font-size: 1rem;
  text-align: center;
}
.view-12 .container .onebox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.view-12 .container .onebox .page {
  font-weight: 300;
  font-size: 0.9rem;
}
.view-12 .container .onebox .circle {
  height: 35px;
  width: 35px;
  background: #22201e;
  border-radius: 50%;
}

.view-13 {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
}
.view-13 .marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #1a1919;
  border: rgb(61, 61, 56) solid 1px;
}
.view-13 .marquee .text {
  display: flex;
  gap: 3rem;
  padding: 1rem 2rem;
  animation: marquee 5s linear infinite;
}
.view-13 .marquee .text p {
  text-wrap: nowrap;
  font-size: 1rem;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */