*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
}
html{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: wheat;
}
main {
  width: 100%;
}
.view-1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  img {
    width: 80%;
    object-fit: cover;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 100;
  }
  p {
    text-align: center;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0.9rem 0;
    opacity: 0.6;
    br {
      display: none;
    }
  }
}
.view-2 {
  width: 100%;
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
  .marquee {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #353333;
    &::after{
      content: "";
      height: 100%;
      width: 50%;
      background-image: linear-gradient(to right, #0e0e0e, transparent);
      position: absolute;
      top: 0;
      left: 0;
    }
    &::before{
      content: "";
      height: 100%;
      width: 50%;
      background-image: linear-gradient(to left, #0e0e0e, transparent);
      position: absolute;
      top: 0;
      right: 0;
      
    }

    .text {
      display: flex;
      gap: 2rem;
      padding: 0 2rem;
      animation: marquee 5s linear infinite;
      p {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
      }
    }
  }
}
@keyframes marquee {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.view-3 {
  padding: 1rem 2rem;
  width: 100%;
  .vw-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .container {
      background: #181716;
      padding: 1.3rem 2rem;
      border: rgb(61, 61, 56) solid 1px;
      .box {
        display: flex;
        line-height: 1.7;
        flex-direction: column;
        padding-bottom: 1rem;
        .first-div {
          padding-bottom: 6px;
        }

        .title {
          font-size: 1.3rem;
          font-weight: 320;
        }
        .description {
          font-size: 0.9rem;
          font-weight: 390;
        }
      }
      #about {
        display: flex;
        align-items: center;
        margin: 10px;
        gap: 10px;
        .circle {
          width: 35px;
          height: 35px;
          background: #22201e;
          border-radius: 50%;
        }
        .about {
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
    }
  }
}
.view-4 {
  width: 100%;
  .Container {
    padding: 2rem 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 26px;
    .sub-container1 {
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .p1 {
        font-size: 2rem;
        font-weight: 350;
      }

      .child-sub {
        display: flex;
        align-items: center;
        gap: 10px;
        .p2 {
          font-size: 0.8rem;
          font-weight: 500;
        }
        .circle1 {
          height: 35px;
          width: 35px;
          background: #22201e;
          border-radius: 50%;
        }
      }
    }
    .sub-container2{
      display: grid;

      grid-template-areas:
        "a"
        "b"
        "c"
        "d"; /* Corrected structure */
      gap: 20px;
      .sub {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .grid-a img,
        .grid-b img,
        .grid-c img,
        .grid-d img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
        .flying {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          bottom: 0; /* Aligns perfectly at the bottom of the grid */
          width: 90%;
          height: 10%;
          background: rgba(255, 255, 255, 0.1); /* Slight transparency */
          backdrop-filter: blur(11px);
          transform: translateY(-50%);
          border: rgb(45, 45, 43) solid 1px;
          .flying-p1 {
            padding-left: 1rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .flying-p2 {
            padding-right: 1.2rem;
            font-size: 0.7rem;
            letter-spacing: 1;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.view-5 {
  width: 100%;
  .container {
    padding: 2rem 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 26px;
    .sub-container1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .the {
        font-weight: 550;
        font-size: 0.9rem;
      }
      .your {
        font-weight: 300;
        font-size: 3.5rem;
        text-align: center;
      }
      .our {
        font-weight: 300;
        font-size: 1.2rem;
        text-align: center;
      }
    }
    .sub-container2 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .container {
        background: #181716;
        padding: 1.3rem 2rem;
        border: rgb(61, 61, 56) solid 1px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 24px;
        .hours {
          background: #22201e;
          border: rgb(61, 61, 56) solid 1px;
          display: flex;
          align-items: center;
          padding: 0.3rem;
          width: 4rem;
          .hour {
            font-weight: 400;
            font-size: 0.8rem;
          }
        }
        .Do-content {
          .do {
            font-weight: 500;
            color: #898077;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
          }
          .dis {
            font-weight: 350;
            font-size: 1.2rem;
          }
        }
        .Before {
          font-weight: 350;
          line-height: 1.5rem;
          font-size: 0.9rem;
        }
        .list {
          font-weight: 350;
          line-height: 1.8rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}