*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  font-family:sans-serif;
}
main{
  width: 100%;
}
.view1{
  
  width: 100%;
  background-color: rgb(240 240 248);
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    .sub-container1{
      width: 100%;
      img{
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
    }
    .sub-container2{
      width: 100%;
      padding: 3rem 1rem;
      .box{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .we{
          color: 
          rgb(52, 63, 82);
          font-size: 2.3rem;
          font-weight: 540;
          word-spacing: -4px;
          .sol{
            color: rgb(96, 93, 186);
          }
        }
        .have{
          font-size: 1.3rem;
          color: rgb(50, 58, 72);
          line-height: 3ch;
        }
        .button{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: large;
          background:rgb(124 173 232) ;
          color: white;
          width: 50%;
          padding: 1rem;
          border-radius: 10px;

        }
      }
    }
  }
}
.view2{
  width: 100%;
  background: rgb(239, 240, 241);
  .container{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .sub-container1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .why{
        color: rgb(87, 86, 86);

      }
      .here{
        font-size: 2rem;
        font-weight: 500;
        word-spacing: -2px;
        text-align: center;
        .rea{
          color:rgb(124 173 232) ; ;
        }
      }
    }
    .sub-container2{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .content{
        display: flex;
        gap: 1rem 1rem;
        background-color: rgb(255 255 255);
        padding: 1rem;
        .child1{
          font-size: 3rem;
          font-weight: 500;
          color:rgb(124 173 232) ;
        }
        .child2{
          display: flex;
          flex-direction: column;
          gap: .7rem;
          .collect{
            
            font-size:1.2rem ;
            font-weight: 500;
          }
          .turn{
            color:rgb(118, 117, 117) ;
            line-height: 1.5rem;
          }

        }

      }
    }
  }
}
.view3{
  width: 100%;
  background: rgb(239, 240, 241);
  .container{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .sub-container1{
      img{
        border-radius: 10px;
        object-fit: contain;
        width: 100%;
      }
    }
    .sub-container2{
      .collect{
        font-size: 1.5rem;

      }
      .brain{
        margin-top: 1.3rem;
        color:rgb(118, 117, 117) ;
        line-height: 1.5rem;
        word-spacing: .5rem;
      }
      .list{
        margin-top: .5rem;
        display: flex;
        gap: 1rem;
        color:rgb(118, 117, 117) ;
        .circle{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #a8a0a0;
        }
      }
    }
  }

}
