* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

main {
  width: 100%;
}

.view1 {
  width: 100%;
  background-color: rgb(240, 240, 248);
}
.view1 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.view1 .container .sub-container1 {
  width: 100%;
}
.view1 .container .sub-container1 img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.view1 .container .sub-container2 {
  width: 100%;
  padding: 3rem 1rem;
}
.view1 .container .sub-container2 .box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view1 .container .sub-container2 .box .we {
  color: rgb(52, 63, 82);
  font-size: 2.3rem;
  font-weight: 540;
  word-spacing: -4px;
}
.view1 .container .sub-container2 .box .we .sol {
  color: rgb(96, 93, 186);
}
.view1 .container .sub-container2 .box .have {
  font-size: 1.3rem;
  color: rgb(50, 58, 72);
  line-height: 3ch;
}
.view1 .container .sub-container2 .box .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background: rgb(124, 173, 232);
  color: white;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
}

.view2 {
  width: 100%;
  background: rgb(239, 240, 241);
}
.view2 .container {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view2 .container .sub-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.view2 .container .sub-container1 .why {
  color: rgb(87, 86, 86);
}
.view2 .container .sub-container1 .here {
  font-size: 2rem;
  font-weight: 500;
  word-spacing: -2px;
  text-align: center;
}
.view2 .container .sub-container1 .here .rea {
  color: rgb(124, 173, 232);
}
.view2 .container .sub-container2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view2 .container .sub-container2 .content {
  display: flex;
  gap: 1rem 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}
.view2 .container .sub-container2 .content .child1 {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(124, 173, 232);
}
.view2 .container .sub-container2 .content .child2 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.view2 .container .sub-container2 .content .child2 .collect {
  font-size: 1.2rem;
  font-weight: 500;
}
.view2 .container .sub-container2 .content .child2 .turn {
  color: rgb(118, 117, 117);
  line-height: 1.5rem;
}

.view3 {
  width: 100%;
  background: rgb(239, 240, 241);
}
.view3 .container {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view3 .container .sub-container1 img {
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.view3 .container .sub-container2 .collect {
  font-size: 1.5rem;
}
.view3 .container .sub-container2 .brain {
  margin-top: 1.3rem;
  color: rgb(118, 117, 117);
  line-height: 1.5rem;
  word-spacing: 0.5rem;
}
.view3 .container .sub-container2 .list {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  color: rgb(118, 117, 117);
}
.view3 .container .sub-container2 .list .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a8a0a0;
}

.view4 {
  width: 100%;
  background: rgb(239, 240, 241);
}
.view4 .container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  gap: 2rem;
}
.view4 .container .sub-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.view4 .container .sub-container1 .happay {
  color: rgb(118, 117, 117);
}
.view4 .container .sub-container1 .do {
  margin-top: 1rem;
  font-size: 2rem;
}
.view4 .container .sub-container1 .do .custom {
  color: rgb(96, 93, 186);
}
.view4 .container .sub-container2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view4 .container .sub-container2 .review {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  line-height: 1.5rem;
  color: rgb(118, 117, 117);
  background-color: rgb(255, 255, 255);
}
.view4 .container .sub-container2 .review .box {
  display: flex;
  gap: 1rem;
}
.view4 .container .sub-container2 .review .box .img-box {
  width: 60px;
  width: 60px;
}
.view4 .container .sub-container2 .review .box .img-box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.view4 .container .sub-container2 .review .box .cor {
  color: black;
}

.view5 {
  width: 100%;
  background: rgb(239, 240, 241);
}
.view5 .container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view5 .container .sub-container1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view5 .container .sub-container1 .what {
  color: rgb(118, 117, 117);
}
.view5 .container .sub-container1 .the {
  font-size: 1.5rem;
  color: rgb(22, 22, 33);
}
.view5 .container .sub-container1 .the .speci {
  color: rgb(49, 46, 154);
}
.view5 .container .sub-container1 .discover {
  line-height: 1.5rem;
  color: rgb(118, 117, 117);
}
.view5 .container .sub-container1 .button {
  background: rgb(124, 173, 232);
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 10px;
}
.view5 .container .sub-container2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view5 .container .sub-container2 .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: rgb(252, 252, 252);
  padding: 2rem;
}
.view5 .container .sub-container2 .content img {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}
.view5 .container .sub-container2 .content .pro {
  font-size: 1.2rem;
}
.view5 .container .sub-container2 .content .sim {
  color: rgb(118, 117, 117);
  line-height: 1.5rem;
}

.view6 {
  width: 100%;
}
.view6 .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem;
  gap: 2rem;
}
.view6 .container .sub-container1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view6 .container .sub-container1 .we {
  font-size: 1.8rem;
}
.view6 .container .sub-container1 .we .perfect {
  color: rgb(96, 93, 186);
}
.view6 .container .sub-container1 .our {
  line-height: 1.6rem;
  color: rgb(118, 117, 117);
}
.view6 .container .sub-container1 .cus {
  color: rgb(118, 117, 117);
}
.view6 .container .sub-container1 .satisfaction {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.view6 .container .sub-container1 .satisfaction .per {
  font-size: 2rem;
}
.view6 .container .sub-container1 .visitor {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.view6 .container .sub-container1 .visitor .x {
  font-size: 2rem;
}
.view6 .container .sub-container2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view6 .container .sub-container2 img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.view6 .container .sub-container2 .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view6 .container .sub-container2 .box img {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.view7 {
  width: 100%;
}
.view7 .container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 2rem;
}
.view7 .container .what {
  color: rgb(118, 117, 117);
}
.view7 .container .we {
  font-size: 2rem;
  font-weight: 400;
}
.view7 .container .content .creat {
  font-size: 1.2rem;
}
.view7 .container .content .approach {
  margin-top: 1rem;
  line-height: 1.5rem;
  color: rgb(118, 117, 117);
}/*# sourceMappingURL=style.css.map */